<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PCWake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pc-wake-extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>pc-wake-siri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>pc-wake-siriUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>pc-wake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D565AE61ED41F9C00F5D6DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D565AFC1ED41FC200F5D6DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D565B131ED4388E00F5D6DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D78D6341ED555A1005399DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D78D6491ED55687005399DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D78D6601ED56874005399DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D78D6A81ED56B91005399DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D78D6B21ED56B91005399DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DB833AA1ECBD1070043F4FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
